// 1. Core Config Setup
@use "./partials/variables";
@use "./partials/fonts";

@use "./sections/header";
@use "./sections/container"; // This points directly to your hangman image box layout
@use "./sections/word";
@use "./sections/attempts";
@use "./sections/keyboard";

body {
  background-color: variables.$bg-color;
  color: variables.$text-light;
  font-family: "Courier New", Courier, monospace;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;

  @include variables.respond-to("tablet") {
    padding: 20px;
  }
}
