// Colors
$bg-color: bisque;
$text-dark: rgb(61, 58, 58);
$warning-red: #d9534f;
$btn-hover: #2c3e50;

// Breakpoints
$breakpoints: (
  "phone-sm": 375px,
  "phone-lg": 480px,
  "tablet": 768px,
  "laptop": 1024px,
  "desktop": 1440px,
  "ultra-4k": 2560px,
);
@mixin respond-to($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}
