// Colors
$bg-color: #1a1a24; // Deep midnight charcoal
$text-light: #f4ece1; // Off-white retro text
$warning-red: #ff4757; // Vibrant arcade red
$btn-hover: #4b7bec; // Megaman blue

// Breakpoints
$breakpoints: (
  "phone-sm": 375px,
  "phone-lg": 480px,
  "tablet": 768px,
  "laptop": 1024px,
  "desktop": 1440px,
  "ultra-4k": 2560px,
);

@mixin respond-to($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}
